<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="static/css/styles_dashbourd.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div
        class="hidden md:flex flex-row justify-center items-center gap-5 font-semibold relative top-1"
      >
        <a href="#">About VPN</a>
        <a href="#">Services</a>
        <a href="#">Login</a>
        <a href="#">Register</a>
        <button class="flex flex-row justify-center items-center gap-1">
          Languages
          <span class="navbar-arrow">
            <svg
              class="fill-current h-4 w-4 transform group-hover:-rotate-180 transition duration-150 ease-in-out"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              ></path>
            </svg>
          </span>
        </button>
      </div>
      <button class="flex md:hidden">
        <img
          width="30"
          height="30"
          src="static/images/menu-icon.png"
          alt="menu icon"
        />
      </button>
      <img
        width="165"
        height="41"
        src="static/images/logo_top.png"
        alt="georay vpn"
        data-pagespeed-url-hash="526914860"
        onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
      />
    </nav>

    <!-- main content -->
    <main class="main-container flex justify-center items-center">
      <div
        class="chart-container w-full flex flex-col sm:flex-row justify-evenly items-center"
      >
        <div class="doughnut-chart-container ">
          <canvas id="doughnut-chartcanvas-1"></canvas>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            distinctio doloribus magni perferendis ipsa repellendus deserunt
            eligendi odit modi, iste nobis cum a unde ullam fuga minima sed
            dolor. Explicabo.</span
          >
        </div>

        <div class="doughnut-chart-container">
          <canvas id="doughnut-chartcanvas-2"></canvas>
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            distinctio doloribus magni perferendis ipsa repellendus deserunt
            eligendi odit modi, iste nobis cum a unde ullam fuga minima sed
            dolor. Explicabo.</span
          >
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer">
      <div class="w-full flex flex-col">
        <div
          class="footer-light-gray w-full flex flex-col md:flex-row justify-between items-center md:items-start text-center md:text-left text-sm font-semibold gap-6 md:gap-0 p-4 mb-4"
        >
          <div
            class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3"
          >
            <span class="footer-dark-gray mb-3"> GETTING STARTED </span>
            <a href="#">Registration 4 Free</a>
            <a href="#">Marketing</a>
            <a href="#">Contact</a>
          </div>
          <div
            class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3"
          >
            <span class="footer-dark-gray mb-3"> COMPANY PRIVACY </span>
            <a href="#">Services</a>
            <a href="#">Apps Privacy</a>
            <a href="#">Terms and Conditions</a>
            <a href="#">Impressum</a>
          </div>
          <div
            class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3"
          >
            <span class="footer-dark-gray mb-3"> PLATFORMS </span>
            <a href="#">Android</a>
            <a href="#">macOS</a>
            <a href="#">iOS iPad</a>
            <a href="#">iOS iPhone</a>
            <a href="#">Windows</a>
          </div>
          <div
            class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3"
          >
            <span class="footer-dark-gray mb-3"> COMMUNITY </span>
            <a href="#">GitLab</a>
            <a href="#">DNS Changer Apps</a>
          </div>
        </div>
        <div class="footer-bottom footer-dark-gray w-full flex flex-col-reverse md:flex-row justify-between text-center md:text-center font-semibold gap-4 md:gap-0 px-2 py-6">
          <div class="flex flex-row justify-center items-center gap-3">
            <a href="#">تلگرام</a>
          </div>
          <p>تمامی حقوق مادی و معنوی این وب سایت متعق به جی او ری می باشد</p>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      //get the doughnut chart canvas
      const ctx1 = document.querySelector("#doughnut-chartcanvas-1");
      const ctx2 = document.querySelector("#doughnut-chartcanvas-2");

      //doughnut chart data
      var data1 = {
        labels: ["زمان باقی مانده", "زمان گذشته"],
        datasets: [
          {
            label: "TeamA Score",
            data: [10, 50],
            backgroundColor: ["#d4145a", "#DCDCDC"],
            borderColor: ["#d4145a", "#CBCBCB"],
            borderWidth: [1, 1],
          },
        ],
      };

      //doughnut chart data
      var data2 = {
        labels: ["زمان باقی مانده", "زمان گذشته"],
        datasets: [
          {
            label: "TeamB Score",
            data: [20, 35],
            backgroundColor: ["#d4145a", "#DCDCDC"],
            borderColor: ["#d4145a", "#CBCBCB"],
            borderWidth: [1, 1],
          },
        ],
      };

      //options
      var options = {
        responsive: true,
        title: {
          display: true,
          position: "top",
          text: "Doughnut Chart",
          fontSize: 18,
          fontColor: "#111",
        },
        legend: {
          display: true,
          position: "bottom",
          labels: {
            fontColor: "#333",
            fontSize: 16,
          },
        },
      };

      //create Chart class object
      var chart1 = new Chart(ctx1, {
        type: "doughnut",
        data: data1,
        options: options,
      });

      //create Chart class object
      var chart2 = new Chart(ctx2, {
        type: "doughnut",
        data: data2,
        options: options,
      });
    </script>
  </body>
</html>
