<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css//styles_main.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>georay vpn</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="hidden md:flex flex-row justify-center items-center gap-5 font-semibold relative top-1">
          <a href="https://t.me/georay_help" target="_blank">پشتیبانی</a>
          <a href="/register">ثبت نام</a>
          <a href="/">صفحه اصلی</a>
          <a href="https://drive.google.com/u/0/uc?id=1DUI6yJspJ7w1vfJrKZ_f8oUlSngObp_J&export=download">دانلود نرم افزار اندروید</a>
        </div>
        <button class="flex md:hidden">
          <img
            width="30"
            height="30"
            src="static/images/menu-icon.png"
            alt="menu icon"
          />
        </button>
        <img
          width="165"
          height="41"
          src="static/images/logo_top.png"
          alt="georay vpn"
          data-pagespeed-url-hash="526914860"
          onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
        />
      </nav>
      <div class="item"><div class="slidecaption"><h2></h2><h4></h4><p><a class="btn btn-slide" href="#"></a></p></div> <img width="2560" height="733" src="static/images/slide.png" alt=""></div>
      <!-- main content -->
      <main class="main-container">
        <!-- header  -->
        <header class="w-full flex flex-col-reverse md:flex-row-reverse justify-center items-center md:items-start gap-4">
          <div class="w-full md:w-1/2 flex flex-col justify-center items-center md:items-start text-center md:text-left font-semibold gap-2">
            <h1 class="text-3xl"style="direction: rtl;">
              تجربه اینترنت ازاد و بدون محدودیت
            </h1>
            <h2 class="text-2xl" style="direction: rtl;">خرید VPN به صورت ناشناس با ارز دیجیتال</h2>
            <p style="direction: rtl;">
              فیلتر شکنی برای ویندوز، اندروید و آیفون و مک
            </p>
          </div>
          <div class="w-full md:w-1/2 flex justify-center md:justify-start items-center md:items-start">
            <img
              width="294"
              height="317"
              src="static/images/download-app.svg"
              alt="Strong online protection "
            />
          </div>
        </header>
      </main>

      <!-- services -->
      <div class="services-container w-full flex flex-col lg:flex-row-reverse justify-center items-center gap-10 lg:gap-3">
        <div class="pricingtables text-white shadow-sm">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="service-time text-center text-xl p-4">دو ماهه</h3>
            </div>
            <div class="service-price flex flex-col justify-between items-center text-center"> 
              <span class="mt-4 mb-1">قیمت</span>
              <h4 class="price-number text-5xl font-bold">۱۴۰.۰۰۰</h4> 
              <span class="per p-1 mb-4">تومان</span>
            </div><div class="text-center">
              <p></p>
              <ul>
                
                <li>اکانت تک کاربره</li>
                <li>۷ روز رایگان</li>
                <li>دسترسی به همه سرویس ها</li>
                <li>قابل استفاده درتمام دستگاه ها</li>
                <li class="flex justify-center items-center">
                  <img loading="lazy" class="alignnone size-full wp-image-1197" src="static/images/os.jpg" alt="خرید vpn" width="432" height="64" srcset="static/images/os.jpg 432w, /wp-content/uploads/2018/01/platform-768x113.png 768w" sizes="(max-width: 432px) 100vw, 432px">
                </li>
                <li>پـرداخــت آنــلاین ، تحویـــل آنی</li>
                <li>پهـــــــــنای بــــــاند نامــحــدود</li>
                <li>سرور های اختصاصی</li>
              </ul>
              <p></p>
            </div>
            <div class="panel-footer flex justify-center items-center p-4"> 
              <a class="buy-service-button text-xl py-2 px-5" href="https://t.me/georay_vpn target="_blank">خرید آنلاین</a>
            </div>
          </div>
        </div>
        <div class="pricingtables-bold text-white shadow-xl">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="service-time-bold text-center text-xl p-6">یک ماهه</h3>
            </div>
            <div class="service-price-bold flex flex-col justify-between items-center text-center"> 
              <span class="mt-5 mb-1">قیمت</span>
              <h4 class="price-number-bold text-5xl font-bold">۷۰.۰۰۰              </h4> 
              <span class="per-bold p-1 mb-5">تومان</span>
            </div><div class="text-center">
              <p></p>
              <ul>
                
                <li>اکانت تک کاربره</li>
                <li>۷ روز رایگان</li>
                <li>دسترسی به همه سرویس ها</li>
                <li>قابل استفاده درتمام دستگاه ها</li>
                <li class="flex justify-center items-center">
                  <img loading="lazy" class="alignnone size-full wp-image-1197" src="static/images/os.jpg" alt="خرید vpn" width="432" height="64" srcset="static/images/os.jpg 432w, /wp-content/uploads/2018/01/platform-768x113.png 768w" sizes="(max-width: 432px) 100vw, 432px">
                </li>
                <li>پـرداخــت آنــلاین ، تحویـــل آنی</li>
                <li>پهـــــــــنای بــــــاند نامــحــدود</li>
                <li>سرور های اختصاصی</li>
              </ul>
              <p></p>
            </div>
            <div class="panel-footer flex justify-center items-center p-4"> 
              <a class="buy-service-button text-xl py-2 px-5" href="https://t.me/georay_vpn" target="_blank">خرید آنلاین</a>
            </div>
          </div>
        </div>
        <div class="pricingtables text-white shadow-sm">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="service-time text-center text-xl p-4">سه ماهه</h3>
            </div>
            <div class="service-price flex flex-col justify-between items-center text-center"> 
              <span class="mt-4 mb-1">قیمت</span>
              <h4 class="price-number text-5xl font-bold">۲۱۰.۰۰۰</h4> 
              <span class="per p-1 mb-4">تومان</span>
            </div><div class="text-center">
              <p></p>
              <ul>
                
                <li>اکانت تک کاربره</li>
                <li>۷ روز رایگان</li>
                <li>دسترسی به همه سرویس ها</li>
                <li>قابل استفاده درتمام دستگاه ها</li>
                <li class="flex justify-center items-center">
                  <img loading="lazy" class="alignnone size-full wp-image-1197" src="static/images/os.jpg" alt="خرید vpn" width="432" height="64" srcset="static/images/os.jpg 432w, /wp-content/uploads/2018/01/platform-768x113.png 768w" sizes="(max-width: 432px) 100vw, 432px">
                </li>
                <li>پـرداخــت آنــلاین ، تحویـــل آنی</li>
                <li>پهـــــــــنای بــــــاند نامــحــدود</li>
                <li>سرور های اختصاصی</li>
              </ul>
              <p></p>
            </div>
            <div class="panel-footer flex justify-center items-center p-4"> 
              <a class="buy-service-button text-xl py-2 px-5" href="https://t.me/georay_vpn" target="_blank">خرید آنلاین</a>
            </div>
          </div>
        </div>
      </div>

      <!-- footer -->
      <footer class="footer">
        <div class="w-full flex flex-col">
          <div
            class="footer-light-gray w-full flex flex-col md:flex-row justify-between items-center md:items-start text-center md:text-left text-sm font-semibold gap-6 md:gap-0 p-4 mb-4"
          >
          <div class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3">
            <p><a href="https://t.me/georay_help" target="_blank"><img
              width="160"
              height="200"
              src="static/images/telegram-support-1.png"
              alt="Strong online protection "
              /></a></p>
          </div>
            <div class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3">
              <span class="footer-dark-gray mb-3">
                لینک های کوتاه
              </span>
              <a href="https://t.me/georay_help" target="_blank">پشتیبانی</a>
              <a href="/register">ثبت نام</a>
              <a href="/">صفحه اصلی</a>
            </div>
            <div class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3">
              <span class="footer-dark-gray mb-3">
                دانلود
              </span>
              <a href="" target="_blank">اندروید</a>
              <a href="" target="_blank">مک</a>
              <a href="" target="_blank">ایفون</a>
              <a href="" target="_blank">ویندوز</a>
            </div>
          </div>
          <div class="footer-bottom footer-dark-gray w-full flex flex-col-reverse md:flex-row justify-between text-center md:text-center font-semibold gap-4 md:gap-0 px-2 py-6">
            <div class="flex flex-row justify-center items-center gap-3">
              <a href="https://t.me/georay_vpn" target="_blank">تلگرام</a>
            </div>
            <p>تمامی حقوق مادی و معنوی این وب سایت متعق به جی او ری می باشد</p>
          </div>
        </div>
      </footer>
</body>
</html>