<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css//styles_main.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>georay vpn</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="hidden md:flex flex-row justify-center items-center gap-5 font-semibold relative top-1">
          <a href="#">قوانین</a>
          <a href="#">پشتیبانی</a>
          <a href="#">سرویس ها</a>
          <a href="#">ورود</a>
          <a href="#">ثبت نام</a>
          <a href="#">صفحه اصلی</a>
        </div>
        <button class="flex md:hidden">
          <img
            width="30"
            height="30"
            src="static/images/menu-icon.png"
            alt="menu icon"
          />
        </button>
        <img
          width="165"
          height="41"
          src="static/images/logo_top.png"
          alt="georay vpn"
          data-pagespeed-url-hash="526914860"
          onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
        />
      </nav>
      <div class="item"><div class="slidecaption"><h2></h2><h4></h4><p><a class="btn btn-slide" href="#"></a></p></div> <img width="2560" height="733" src="static/images/slide.png" alt=""></div>
      <!-- main content -->
      <main class="main-container">
        <!-- header  -->
        <header class="w-full flex flex-col-reverse md:flex-row-reverse justify-center items-center md:items-start gap-4">
          <div class="w-full md:w-1/2 flex flex-col justify-center items-center md:items-start text-center md:text-left font-semibold gap-2">
            <h1 class="text-3xl">
              تجربه اینترنت ازاد و بدون محدودیت
            </h1>
            <h2 class="text-2xl">تعهد ما، تضمین کیفیت سرویس شماست</h2>
            <p>
              فیلتر شکنی برای ویندوز، اندروید و آیفون و مک
            </p>
          </div>
          <div class="w-full md:w-1/2 flex justify-center md:justify-start items-center md:items-start">
            <img
              width="294"
              height="317"
              src="static/images/download-app.svg"
              alt="Strong online protection "
            />
          </div>
        </header>
      </main>

      <!-- footer -->
      <footer class="footer">
        <div class="w-full flex flex-col">
          <div
            class="footer-light-gray w-full flex flex-col md:flex-row justify-between items-center md:items-start text-center md:text-left text-sm font-semibold gap-6 md:gap-0 p-4 mb-4"
          >
          <div class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3">
              <img
              width="160"
              height="200"
              src="static/images/telegram-support-1.png"
              alt="Strong online protection "
              />
            </a>
          </div>
            <div class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3">
              <span class="footer-dark-gray mb-3">
                لینک های کوتاه
              </span>
              <a href="#">قوانین</a>
              <a href="#">پشتیبانی</a>
              <a href="#">سرویس ها</a>
              <a href="#">ورود</a>
              <a href="#">ثبت نام</a>
              <a href="#">صفحه اصلی</a>
            </div>
            <div class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3">
              <span class="footer-dark-gray mb-3">
                دانلود
              </span>
              <a href="#">اندروید</a>
              <a href="#">مک</a>
              <a href="#">ایفون</a>
              <a href="#">ویندوز</a>
            </div>
          </div>
          <div class="footer-bottom footer-dark-gray w-full flex flex-col-reverse md:flex-row justify-between text-center md:text-center font-semibold gap-4 md:gap-0 px-2 py-6">
            <div class="flex flex-row justify-center items-center gap-3">
              <a href="#">تلگرام</a>
            </div>
            <p>تمامی حقوق مادی و معنوی این وب سایت متعق به جی او ری می باشد</p>
          </div>
        </div>
      </footer>
</body>
</html>