<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css//styles_main.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>term and privacy</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="hidden md:flex flex-row justify-center items-center gap-5 font-semibold relative top-1">
          <a href="https://t.me/georay_help" target="_blank">پشتیبانی</a>
          <a href="/register">ثبت نام</a>
          <a href="/">صفحه اصلی</a>
          <a href="https://drive.google.com/u/0/uc?id=1LvkBbCaLtmnZiYC6SaE4Vi5HVBIE9z7S&export=download" target="_blank">دانلود نرم افزار اندروید</a>
        </div>
        <div id="small-navbar" class="w-full h-48 fixed top-20 left-0 flex-col justify-center items-center text-center border-2 border-red-600 rounded-lg gap-5 bg-white font-semibold hidden">
          <a href="https://t.me/georay_help" target="_blank">پشتیبانی</a>
          <a href="/register">ثبت نام</a>
          <a href="/">صفحه اصلی</a>
          <a href="https://drive.google.com/u/0/uc?id=1LvkBbCaLtmnZiYC6SaE4Vi5HVBIE9z7S&export=download" target="_blank">دانلود نرم افزار اندروید</a>
        </div>
        <button id="menu-button" class="flex md:hidden">
          <img
            width="30"
            height="30"
            src="static/images/menu-icon.png"
            alt="menu icon"
          />
        </button>
        <img
          width="165"
          height="41"
          src="static/images/logo_top.png"
          alt="georay vpn"
          data-pagespeed-url-hash="526914860"
          onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
        />
      </nav>
      <div class="item"><div class="slidecaption"><h2></h2><h4></h4><p><a class="btn btn-slide" href="#"></a></p></div> <img width="2560" height="733" src="static/images/slide.png" alt=""></div>
      <!-- main content -->
      <main class="main-container">
        <header class="w-full flex flex-col-reverse md:flex-row-reverse justify-right items-right md:items-start gap-4"></header>
          <div style="padding: 8px; border-radius: 8px; color: #000000; background-color: #ffffff; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h1 class="alert-heading" style="direction: rtl; text-align: right;">شرایط و قوانین استفاده از سرویسها</h1>
            <hr><br>
            <p class="mb-0" style="direction: rtl; text-align: right;">1- ارائه سرویس های گروه Georay فقط برای ایجاد امنیت و رفع تحریم های بین المللی و بازارهای فارکس و دسترسی به شبکه های اجتماعی و بازی ها مجاز می باشد و برای کارهای خرابکارانه مانند : هک و ارسال اسپم و کارهای سیاسی ممنوع میباشد و در صورت مشاهده اکانت کاربر غیرفعال میشود.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">2- چنانچه هر یک از کاربران از سرویس ها سوء استفاده نمایند و به تعهد خود پایبند نباشد: الف: تخلف صورت گرفته بر عهده ی خود کاربر بوده و گروه Georay هیچ گونه مسئولیتی را در قبال متخلفین نمی پذیرید. ب: در صورت مشاهده ی تخلف اکانت کاربر از سیستم حذف می گردد.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">3- چنانچه در مدت زمان ارائه خدمات به دلایلی که از اراده ما خارج باشد – مواردی همچون تغییرات مخرب جوی، سیل، آتش سوزی، زلزله، و…، اشکالات مخابراتی ، هر گونه ممنوعیت داخلی وخارجی، عدم پاسخگویی و یا اجبار بر دریافت مبالغ اضافی توسط شرکتهای خارجی فراهم کننده خدمات، هر گونه تغییرات در قوانین داخلی و خارجی، جنگ، اغتشاشات، اعتصابات، تغییرات در نرخ ارز، بسته شدن سرور توسط دیتا سنتر و کلیه شرایطی که از دسترس ما خارج باشد و در اینجا ذکر نگردیده است- در تداوم ارائه خدمات خدشه ای وارد گردد و یا باعث قطع موقت آن گردد، هیچگونه مسئولیتی بر عهده سایت و مسئولین آن نخواهد بود.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">4- استفاده از تورنت(Torrent)،استفاده از سرویس ها جهت نفوذ به دیگر سرور ها و امور هکینگ ، ارسال اسپم و کلیه ی فعالیت هایی که توسط دیتا سنتر ها خلاف شناخته می شوند ، خلاف قوانین ما بوده و با متخلف برخورد می شود.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">5- اگرچه تمام سعی گروه Georay این است که به کاربران آیپی ثابت ارایه نماید، اما این گروه تضمینی بابت ثابت ماندن آیپی نمی دهد.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">6- قطع شدن و یا لیمیت شدن سرویس ها به هر نحوی که از عهده ی ما خارج باشد ، (به طور مثال لیمیت پورت PPTP در مواقع سیا-سی مثل روز قدس ، ۲۲ بهمن ، ۲۲ خرداد و کلیه ی مواقع حساس سیا-سی دیگر که به طور کلی پورت اتصالی به وسیله ی دولت محدود میشود و هیچ راهی برای گذشتن از این بند نیست بر عهده ی سایت نیست . این به این دلیل است که سرویس دهنگان ما ایرانی نبوده و مشکلات مرتبط با کشور ما را متحمل نمیشوند لذا ما نیز متحمل این زیان نخواهیم بود.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">7- روز شمار اکانت ها با اولین لاگین آغاز میشود ، درصورت کوچکترین اتصال روز شمار فعال خواهد شد و اکانت طبق پلن انتخابی منقضی خواهد شد و درصورت عدم استفاده، کاربر حق هیچگونه اعتراضی نخواهد داشت.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">8- مشکلات سیستم فرد خریدار بر عهده ی ما نیست و در صورتی که سرویس خریداری شده توسط ما تست شد و بی عیب بود کلیه ی مشکلات فرد بر عهده ی خود اوست و هیچ مسولیتی متوجه سایت نیست. اگرچه در صورت رعایت ادب و احترام ، سایت نهایت سعی خود را برای رفع مشکل فرد خریدار انجام خواهد داد.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">9- هرگونه توهین به پشتیبان های سایت باعث مسدود شدن اکانت میشود.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">10- استفاده از سرور مجازی جهت دانلود ممنوع است و موجب مسدود شدن اکانت میشود.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">11- در زمانی که تمامی سرویس ها به مشکل بر خورده و دسترسی به اکانت ها غیر ممکن باشد سایت این اجازه را به خود میدهد که اگر تا 5 روز کاری مشکل برطرف نشد هیچ وجهی را برگشت ندهد.اما اگر این مشکل به 10 روز کشیده شد با توجه به شرایط آن لحظه برای برگشت مبلغ به خریدار تصمیم گیری میشود. ولی اگر فقط یک سرویس مشکل داشته باشد ، با توجه به اینکه “کریو میکر” چند سرویس را همزمان ارایه میدهد، کاربر موظف است از دیگر سرویس ها استفاده نمیاد.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">12 – از وی پی ان برای عبور از تحریم های اینترنتی علیه کشور عزیزمان استفاده گردد. در غیر اینصورت هیچ مسئولیتی برای استفاده غیر مجاز از آن به عهده گروه Georay نمی باشد.</p>
            <br>
            <p class="mb-0" style="direction: rtl; text-align: right;">با تشکر از حسن انتخاب شما ، گروه Georay</p>
          </div>  
      </header>
      </main>
      
     <!-- footer -->
      <footer class="footer">
        <div class="w-full flex flex-col">
          <div
            class="footer-light-gray w-full flex flex-col md:flex-row justify-between items-center md:items-start text-center md:text-left text-sm font-semibold gap-6 md:gap-0 p-4 mb-4"
          >
          <div class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3">
            <p><a href="https://t.me/georay_help" target="_blank"><img
              width="160"
              height="200"
              src="static/images/telegram-support-1.png"
              alt="Strong online protection "
              /></a></p>
          </div>
            <div class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3">
              <span class="footer-dark-gray mb-3">
                لینک های کوتاه
              </span>
              <a href="https://t.me/georay_help" target="_blank">پشتیبانی</a>
              <a href="/register">ثبت نام</a>
              <a href="/">صفحه اصلی</a>
            </div>
            <div class="w-full sm:w-1/2 md:w-3/12 flex flex-col justify-center md:justify-start items-center md:items-start gap-3">
              <span class="footer-dark-gray mb-3">
                دانلود
              </span>
              <a href="https://drive.google.com/u/0/uc?id=1LvkBbCaLtmnZiYC6SaE4Vi5HVBIE9z7S&export=download" target="_blank">اندروید</a>
              <a href="" target="_blank">مک</a>
              <a href="" target="_blank">ایفون</a>
              <a href="" target="_blank">ویندوز</a>
            </div>
          </div>
          <div class="footer-bottom footer-dark-gray w-full flex flex-col-reverse md:flex-row justify-between text-center md:text-center font-semibold gap-4 md:gap-0 px-2 py-6">
            <div class="flex flex-row justify-center items-center gap-3">
              <a href="https://t.me/georay_vpn" target="_blank">تلگرام</a>
            </div>
            <p>تمامی حقوق مادی و معنوی این وب سایت متعق به جی او ری می باشد</p>
          </div>
        </div>
      </footer>

      <script>
        // show small navbar by clicking on menu button in mobile screen
        document.querySelector("#menu-button").addEventListener("click", () => {
          const smallNavbar = document.querySelector("#small-navbar");
          if (smallNavbar.classList.contains("hidden")) {
            smallNavbar.classList.remove("hidden");
            smallNavbar.classList.add("flex");
          } else {
            smallNavbar.classList.remove("flex");
            smallNavbar.classList.add("hidden");
          }
        })
      </script>
</body>
</html>