<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css//styles_main.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>term and privacy</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <div class="hidden md:flex flex-row justify-center items-center gap-5 font-semibold relative top-1">
          <a href="https://t.me/georay_help" target="_blank">پشتیبانی</a>
          <a href="/register">ثبت نام</a>
          <a href="/">صفحه اصلی</a>
          <a href="https://drive.google.com/u/0/uc?id=1LvkBbCaLtmnZiYC6SaE4Vi5HVBIE9z7S&export=download" target="_blank">دانلود نرم افزار اندروید</a>
        </div>
        <div id="small-navbar" class="w-full h-48 fixed top-20 left-0 flex-col justify-center items-center text-center border-2 border-red-600 rounded-lg gap-5 bg-white font-semibold hidden">
          <a href="https://t.me/georay_help" target="_blank">پشتیبانی</a>
          <a href="/register">ثبت نام</a>
          <a href="/">صفحه اصلی</a>
          <a href="https://drive.google.com/u/0/uc?id=1LvkBbCaLtmnZiYC6SaE4Vi5HVBIE9z7S&export=download" target="_blank">دانلود نرم افزار اندروید</a>
        </div>
        <button id="menu-button" class="flex md:hidden">
          <img
            width="30"
            height="30"
            src="static/images/menu-icon.png"
            alt="menu icon"
          />
        </button>
        <img
          width="165"
          height="41"
          src="static/images/logo_top.png"
          alt="georay vpn"
          data-pagespeed-url-hash="526914860"
          onload="pagespeed.CriticalImages.checkImageForCriticality(this);"
        />
      </nav>
      <!-- main content -->
      <main class="main-container">
      </main>


      <script>
        // show small navbar by clicking on menu button in mobile screen
        document.querySelector("#menu-button").addEventListener("click", () => {
          const smallNavbar = document.querySelector("#small-navbar");
          if (smallNavbar.classList.contains("hidden")) {
            smallNavbar.classList.remove("hidden");
            smallNavbar.classList.add("flex");
          } else {
            smallNavbar.classList.remove("flex");
            smallNavbar.classList.add("hidden");
          }
        })
      </script>
</body>
</html>