<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="static/fonts/icomoon/style.css" />

    <link rel="stylesheet" href="static/css/owl.carousel.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />

    <!-- Style -->
    <link rel="stylesheet" href="static/css/style.css" />

    <title>Register</title>
  </head>
  <body>
    <div
      style="z-index: 50"
      class="response-alert w-100 position-fixed d-none justify-content-center align-items-center mt-4"
    >
      <div class="alert" role="alert">
        This is a primary alert—check it out!
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img
              src="static/images/undraw_remotely_2j6y.png"
              alt="Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                  <center><h3>ثبت نام</h3></center>
                </div>
                <form id="login-form">
                  <div class="form-group last">
                    <label for="email">email</label>
                    <input
                      required
                      type="email"
                      class="form-control"
                      id="email"
                    />
                  </div>
                  <input
                    type="submit"
                    class="btn btn-block btn-red text-white"
                  />
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const form = document.querySelector("#login-form");
      
      form.addEventListener("submit", (e) => {
        e.preventDefault();

        const email = document.querySelector("#email").value;

        const fetchOptions = {
          method: "POST",
          mode: "cors",
          cache: "no-cache",
          headers: new Headers({ "Content-Type": "application/json" }),
          body: JSON.stringify({
              email,
          }),
        };
        fetch("https://g3or4y.cfd//register", fetchOptions)
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
          })
          .then((res) => {
            if (res.code === 200) {
              showAlert(res.data, "alert-warning");
              setTimeout(() => {
                window.location.href = "http://georay.store";
              }, 3000);
            } else {
              showAlert(res.data);
            }
          });
      });

      function showAlert(text, className) {
        const responseAlert = document.querySelector(".response-alert");

        responseAlert.classList.remove("d-none");
        responseAlert.classList.add("d-flex");

        const alert = responseAlert.firstElementChild;
        alert.innerHTML = text;
        alert.classList.add(className ? className : "alert-danger");

        setTimeout(() => {
          hideAlert();
        }, 3000);
      }

      function hideAlert() {
        const responseAlert = document.querySelector(".response-alert");

        responseAlert.classList.remove("d-flex");
        responseAlert.classList.add("d-none");

        const alert = responseAlert.firstElementChild;
        alert.innerHTML = "";
        alert.className = "alert";
      }
    </script>

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>
