<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seller Panel</title>

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <span id="response-data-container"></span>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="img-profile rounded-circle" src="static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="seller">

                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row">

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Sell accounts</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.count}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Payed accounts</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.payed}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        {% for username, password in data.seller.items() %}
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 mb-1">
                                                {{username}}</div>
                                            <div class="h6 mb-0 font-weight-bold text-gray-800">{{password}}</div>
                                        </div>
                                        {% endfor %}
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div
                            class="d-flex flex-column flex-md-row justify-content-between align-items-center card-header py-3">
                            <h6 class="m-0 mb-4 mb-md-0 font-weight-bold text-primary">Users Table</h6>
                            <form class="d-flex flex-row justify-content-center align-items-center">
                                <input required type="text" id="new-email-input" class="text-left mr-4"
                                    style="display: none;" placeholder="Enter new user email...">
                                <button type="submit" id="add-new-username" data-type="show"
                                    style="text-align: center; background-color: inherit; border-radius: 4px; border: 1px solid #b8b4b4; padding: 2px 10px;">+</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Device</th>
                                            <th>OS</th>
                                            <th>Token</th>
                                            <th>Expired</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Device</th>
                                            <th>OS</th>
                                            <th>Token</th>
                                            <th>Expired</th>
                                            <th>Edit</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for user in data.users %}
                                        <tr>
                                            <td>{{user.username}}</td>
                                            <td>{{user.password}}</td>
                                            <td>{{user.Device}}</td>
                                            <td>{{user.OS}}</td>
                                            <td id="user-token">{{user.token}}</td>
                                            <td>
                                                <span id="user-days-static" style="display: block;">{{user.days}}</span>
                                                <!-- input type="text" id="user-days-input" value="{{user.days}}" style="width: 60px; display: none;" -->
                                            </td>
                                            <td>
                                                <button id="delete-days-button" data-type="edit"
                                                    style="width: 100%; text-align: center; background-color: inherit; border-radius: 4px; border: 1px solid #b8b4b4;">delete</button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Georay-Vpn</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- custom javascript codes -->
    <script>
        // for adding new username
        document.querySelector("#add-new-username").addEventListener("click", (e) => {
            e.preventDefault();

            const btn = e.target;
            const btnType = btn.getAttribute("data-type");
            const usernameInput = document.querySelector("#new-email-input");

            if (btnType === "show") {
                // change button type
                btn.innerHTML = "Add";
                btn.setAttribute("data-type", "add");

                // show new username input
                usernameInput.style.display = "block";
            } else if (btnType === "add") {
                if (usernameInput.value.length < 4) {
                    showResponse("Username must be at least 4 character!", "bg-danger")
                    return null;
                } else if (
                    !usernameInput.value.match(
                        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                    )
                ) {
                    showResponse("Email address is not correct!", "bg-danger")
                    return null;
                }

                // change button type
                btn.innerHTML = "+";
                btn.setAttribute("data-type", "show");

                // hide new username input
                usernameInput.style.display = "none";

                // send new username to backend
                const fetchOptions = {
                    method: "post",
                    headers: new Headers({
                        "Content-Type": "application/json"
                    }),
                    body: JSON.stringify({
                        email: usernameInput.value,
                        seller: location.href.split("=")[1]
                    })
                }

                fetch("https://g3or4y.cfd//add_sell", fetchOptions).then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                }).then(res => {
                    if (res.code === 200) {
                        showResponse(res.data, "bg-success")
                    } else {
                        showResponse(res.data, "bg-danger")
                    }
                });
            }
        })

        // for edit username dates
        const allEditButtons = document.querySelectorAll("#delete-days-button");
        for (const btn of allEditButtons) {
            btn.addEventListener("click", (e) => {
                const btn = e.target;
                const tableTr = btn.parentElement.parentElement;
                const btnType = btn.getAttribute("data-type");

                const daysStatic = tableTr.querySelector("#user-days-static");
                const daysInput = tableTr.querySelector("#user-days-input");

                // send new days to backend
                const fetchOptions = {
                    method: "post",
                    headers: new Headers({
                        "Content-Type": "application/json"
                    }),
                    body: JSON.stringify({
                        sells: tableTr.querySelector("#user-token").innerHTML,
                    })
                }

                fetch(location.href, fetchOptions).then(response => {
                    if (response.ok) {
                        return response.json();
                    }
                }).then(res => {
                    if (res.code === 200) {
                        showResponse(res.data, "bg-success")
                    } else {
                        showResponse(res.data, "bg-danger")
                    }
                });

            })
        }

        function showResponse(text, className) {
            const dataContainer = document.querySelector("#response-data-container");
            dataContainer.className = className + " py-2 px-3 ml-1 rounded text-white";
            dataContainer.innerHTML = text;
            setTimeout(() => {
                dataContainer.innerHTML = "";
                dataContainer.className = "";
                if (className === "bg-success") {
                    location.reload();
                }
            }, 3000)
        };
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="static/js/demo/datatables-demo.js"></script>

</body>

</html>